.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .Card__Container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .Card__Container > img{
   width:100%
  }
  
  .Card__Container > h4 {
    color:grey;
    font-size: 22px;
  }
  
  .Card__Container > p > button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }